[submodule "vendor/worldcat-discovery-ruby"]
	path = vendor/worldcat-discovery-ruby
	url = https://github.com/OCLC-Developer-Network/worldcat-discovery-ruby.git
[submodule "vendor/oclc-auth-ruby"]
	path = vendor/oclc-auth-ruby
	url = https://github.com/OCLC-Developer-Network/oclc-auth-ruby.git
