[submodule "worldcat_discovery/vendor/gems/oclc-auth-ruby"]
	path = worldcat_discovery/vendor/gems/oclc-auth-ruby
	url = https://github.com/OCLC-Developer-Network/oclc-auth-ruby.git
[submodule "worldcat_discovery/vendor/gems/worldcat-discovery-ruby"]
	path = worldcat_discovery/vendor/gems/worldcat-discovery-ruby
	url = https://github.com/OCLC-Developer-Network/worldcat-discovery-ruby.git
[submodule "oclc-auth-ruby"]
	path = oclc-auth-ruby
	url = https://github.com/OCLC-Developer-Network/oclc-auth-ruby.git
[submodule "worldcat-discovery-ruby"]
	path = worldcat-discovery-ruby
	url = https://github.com/OCLC-Developer-Network/worldcat-discovery-ruby.git
