services:
  cover_thing:
    # ---------------------------------------------------------------------------------------------------------------------------
    # For information on this service please visit: http://blog.librarything.com/main/2008/08/a-million-free-covers-from-librarything/
    enabled: true
    max_attempts: 1

    target: 'http://covers.librarything.com/devkey/[KEY]/large/isbn/'

    minimum_api_version: 1.1

    query_string: ''    

    http_method: 'get'
    http_timeout: 5
    http_error_on_non_200: true
    http_max_redirects: 5
    
    
  internet_archive:
    # ---------------------------------------------------------------------------------------------------------------------------
    # For information of interactiving with this service please visit the JSON section of: https://archive.org/advancedsearch.php 
    enabled: false
    max_attempts: 1

    target: 'http://www.archive.org/advancedsearch.php?'

    minimum_api_version: 1.1

    query_string: 'keep_apostrophes=true&fl[]=*&fmt=json&xmlsearch=Search&rows=999'

    http_method: 'get'
    http_timeout: 5
    http_error_on_non_200: true
    http_max_redirects: 5

    # Service specific values
    default_media_type: 'electronic'
    default_rating: 1

    citation_uri: 'q=title:?+AND+creator:?+AND+(mediatype:texts+OR+mediatype:audio+OR+mediatype:video)'

    resource_status: 'public domain'
    resource_availability: true
    resource_target_prefix: 'http://www.archive.org/stream/'
    
    
  oclc_xid:
    # ---------------------------------------------------------------------------------------------------------------------------
    # For more information about this OCLC service, please visit http://www.oclc.org/developer/develop/web-services/xid-api.en.html
    enabled: true
    max_attempts: 1

    # idType is swapped out with the type of id passed in (e.g. isbn)
    target: 'http://{idType}.worldcat.org/webservices/xid/'

    minimum_api_version: 1.1

    query_string: 'method=getMetadata&format=json&fl=*'

    http_method: 'get'
    http_timeout: 5
    http_error_on_non_200: true
    http_max_redirects: 5


  sfx:
    # ---------------------------------------------------------------------------------------------------------------------------
    # For more information about interacting with your instance of ExLibris' SFX service, please visit the openUrl section:  https://developers.exlibrisgroup.com/sfx
    enabled: true
    max_attempts: 1

    target: 'http://my.domain.org/path/to/sfx'

    minimum_api_version: 1.1

    query_string: 'sfx.response_type=multi_obj_detailed_xml&sfx.show_availability=1&'

    http_method: 'get'
    http_timeout: 5
    http_error_on_non_200: true
    http_max_redirects: 5

    sid_identifier: 'ORG:CEDILLA'
    campus_affiliation_parameter: 'req.ip'

    openurl_0_1:
      genre: 'genre'
      ip: 'req.ip'
      issn: ['id', 'issn:?']
      eissn: ['id', 'issn:?']
      isbn: ['id', 'isbn:?']
      eisbn: ['id', 'isbn:?']
      oclc: ['id', 'oclcnum:?']
      lccn: ['id', 'lccn:?']
      doi: ['id', 'doi:?']
      pmid: ['id', 'pmid:?']
      coden: ['id', 'coden:?']
      sici: ['id', 'sici:?']
      bici: ['id', 'bici:?']
      title: 'title'
      article_title: 'atitle'
      journal_title: 'jtitle'
      chapter_title: 'atitle'
      book_title: 'btitle'
      publisher: 'pub'
      publication_date: 'date'
      publication_place: 'place'
      date: 'date'
      year: 'pubyear'
      month: 'pubmonth'
      day: 'pubday'
      season: 'season'
      quarter: 'quarter'
      volume: 'volume'
      issue: 'issue'
      article_number: 'artnum'
      enumeration: 'chron'
      part: 'part'
      edition: 'ed'
      institute: 'inst'
      series: 'series'
      start_page: 'spage'
      end_page: 'epage'
      pages: 'pages'
      name: 'au'
      corporate_author: 'aucorp'
      full_name: 'au'
      last_name: 'aulast'
      first_name: 'aufirst'
      suffix: 'ausuffix'
      middle_initial: 'auinitm'
      first_initial: 'auinit1'
      initials: 'auinit'

    openurl_1_0:
      genre: 'rft.genre'
      ip: 'req.ip'
      issn: ['rft_id', 'urn:ISSN:?']
      eissn: ['rft_id', 'urn:ISSN:?']
      isbn: ['rft_id', 'urn:ISBN:?']
      eisbn: ['rft_id', 'urn:ISBN:?']
      oclc: ['rft_id', 'info:oclcnum/?']
      lccn: ['rft_id', 'info:lccn/?']
      doi: ['rft_id', 'info:doi/?']
      pmid: ['rft_id', 'info:pmid/?']
      coden: ['rft_id', 'info:coden/?']
      sici: ['rft_id', 'info:sici/?']
      bici: ['rft_id', 'info:bici/?']
      bibcode: ['rft_id', 'info:bibcode/?']
      hdl: ['rft_id', 'info:hdl/?']
      oai: ['rft_id', 'info:oai/?']
      nbn: ['rft_id', 'info:nbn/?']
      title: 'rft.title'
      article_title: 'rft.atitle'
      journal_title: 'rft.jtitle'
      chapter_title: 'rft.atitle'
      book_title: 'rft.btitle'
      publisher: 'rft.pub'
      publication_date: 'rft.date'
      publication_place: 'rft.place'
      date: 'rft.date'
      year: 'rft.pubyear'
      month: 'rft.pubmonth'
      day: 'rft.pubday'
      season: 'rft.season'
      quarter: 'rft.quarter'
      volume: 'rft.volume'
      issue: 'rft.issue'
      article_number: 'rft.artnum'
      enumeration: 'rft.chron'
      part: 'rft.part'
      edition: 'rft.ed'
      institute: 'rft.inst'
      series: 'rft.series'
      start_page: 'rft.spage'
      end_page: 'rft.epage'
      pages: 'rft.pages'
      name: 'rft.au'
      corporate_author: 'rft.aucorp'
      full_name: 'rft.au'
      last_name: 'rft.aulast'
      first_name: 'rft.aufirst'
      suffix: 'rft.ausuffix'
      middle_initial: 'rft.auinitm'
      first_initial: 'rft.auinit1'
      initials: 'rft.auinit'
      
      
  worldcat_discovery:
    # ---------------------------------------------------------------------------------------------------------------------------
    # For more info on working with the Worldcat Discovery API, please visit: http://www.oclc.org/developer/develop/web-services/worldcat-discovery-api.en.html
    enabled: true
    max_attempts: 1

    target: 'https://beta.worldcat.org/discovery/bib'

    minimum_api_version: 1.1

    http_method: 'get'
    http_timeout: 5
    http_error_on_non_200: true
    http_max_redirects: 5

    auth_target: 'https://worldcat.org/bib/data/823520553?classificationScheme=LibraryOfCongress&holdingLibraryCode=MAIN'
    auth_key: 'KEY'
    auth_secret: 'SECRET'
    auth_institution: '12345'

    rdf_uri:
      SAME_AS: 'http://www.w3.org/2002/07/owl#sameAs'
      SCHEMA_AUTHOR: 'http://schema.org/author'
      SCHEMA_COUNTRY: 'http://schema.org/Country'
      LC_COUNTRY: 'http://id.loc.gov/vocabulary/countries'
      DBPEDIA_AUTHOR: 'http://dbpedia.org/ontology/author'
      DBPEDIA_WEBSITE: 'http://dbpedia.org/property/website'
      RDFS_LABEL: 'http://www.w3.org/2000/01/rdf-schema#label'
      RDFS_COMMENT: 'http://www.w3.org/2000/01/rdf-schema#comment'
      FOAF_TOPIC: 'http://xmlns.com/foaf/0.1/isPrimaryTopicOf'

    
  crossref_search:
    # ---------------------------------------------------------------------------------------------------------------------------
    # For more info on working with the CrossRef Metadat Search API, please visit: http://search.crossref.org/help/api
    enabled: true
    max_attempts: 1

    target: 'http://search.crossref.org/dois?q='

    minimum_api_version: 1.1

    http_method: 'get'
    http_timeout: 5
    http_error_on_non_200: true
    http_max_redirects: 5

    sort_param: '&sort=score'

    cedilla_citation_target: 'http://localhost:3005/citation'
