# For information on this service please visit: http://blog.librarything.com/main/2008/08/a-million-free-covers-from-librarything/

max_attempts: 1

target: 'http://covers.librarything.com/devkey/[KEY]/large/isbn/'

minimum_api_version: 1.1

query_string: ''    

http_method: 'get'
http_timeout: 5
http_error_on_non_200: true
http_max_redirects: 5